<%-include('../admin/partials/admin-header.ejs') -%>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <%-include('../admin/partials/admin-sidebar.ejs') -%>  
        <!-- partial:../../partials/_sidebar.html -->
        
        <!-- start -->
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="page-header">
              <h3 class="page-title"> Coupon </h3>
              
              <nav aria-label="breadcrumb">
                 
              </nav>
            </div>
            <div class="row">
             
              <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div>
                      <form action="/admin/addCoupon" method="get">
                        <button style="margin-bottom: 10px; padding: 13px;" class="btn btn-success me-md-2" type="submit">Add Coupon</button>
                      </form>
                    </div>
                 <div  style="overflow-x: auto;">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th>Index</th>
                        <th>Coupon Name</th>
                        <th>Discount </th>
                        <th>Maximum Discount </th>
                        <th>Minimum Purchase Amount</th>
                        <th>Expiry Date</th>
                        <th>Created Date</th>
                        <th>Status</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% Coupons.forEach(function(coupon,index){%>
                      <tr>
                          <td><%=index+1 %></td>
                        <td><%=coupon.couponName%></td>
                        <td><%=coupon.discount%>%</td>
                        <td>Rs:<%=coupon.maximumDiscount%></td>
                        <td>Rs:<%=coupon.minimumAmount  %> </td>
                        <td><%= coupon.expiryDate%> </td>
                        <td><%= coupon.createdDate %> </td>
                        <td><%=coupon.status%></td>
                        <td>
                          <a href="/admin/deleteCoupon/<%= coupon._id %>">
                          <button type="submit" class="badge badge-danger m-2" style="width: 76px; border-radius: 4px;" onclick="return confirm('Are you sure you want to delete ?')"> Delete</button>
                          </a>
                           <% if(coupon.status=="Active"){%><form action="/admin/couponDeactivate/<%= coupon._id %>" method="post">
                          <button type="submit" class="badge badge-danger m-2" style="width: 76px; border-radius: 4px;"> Deactivate</button>
                        </form>
                        <%}else{%><form action="/admin/couponActivate/<%= coupon._id %>"  method="post">
                          
                          <button type="submit" class="badge badge-success m-2" style="width: 76px; border-radius: 4px;"> Activate</button>                          
                        </form><%}%>                         
                        <a href="/admin/editCoupon/<%= coupon._id %>">
                        <button type="submit" class="badge badge-primary m-2" style="width: 76px; border-radius: 4px;"> Edit</button>
                        </a>


                      </td>

                       
                      </tr>
                      <%})%>
                    </tbody>
                  </table>
                 </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- content-wrapper ends -->
          <!-- partial:../../partials/_footer.html -->
          <footer class="footer">
            <div class="container-fluid d-flex justify-content-between">
              <span class="text-muted d-block text-center text-sm-start d-sm-inline-block">Copyright © CodersBench.com</span>
              <span class="float-none float-sm-end mt-1 mt-sm-0 text-end"> <a href="https://www.bootstrapdash.com/bootstrap-admin-template/" target="_blank"></a> </span>
            </div>
          </footer>
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="/admin-assets/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="/admin-assets/js/off-canvas.js"></script>
    <script src="/admin-assets/js/hoverable-collapse.js"></script>
    <script src="/admin-assets/js/misc.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <!-- End custom js for this page -->
  </body>
</html>